<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="text" />
    <datalist id="citiesList">
      <option value="New York"></option>
      <option value="Los Angeles"></option>
      <option value="Chicago"></option>
      <option value="Houston"></option>
      <option value="Phoenix"></option>
      <option value="Philadelphia"></option>
      <option value="San Antonio"></option>
      <option value="San Diego"></option>
      <option value="Dallas"></option>
      <option value="San Jose"></option>
      <option value="Austin"></option>
      <option value="Jacksonville"></option>
      <option value="San Francisco"></option>
      <option value="Indianapolis"></option>
      <option value="Columbus"></option>
      <option value="Fort Worth"></option>
      <option value="Charlotte"></option>
      <option value="Seattle"></option>
      <option value="Denver"></option>
      <option value="El Paso"></option>
      <option value="Detroit"></option>
      <option value="Washington"></option>
      <option value="Boston"></option>
      <option value="Memphis"></option>
      <option value="Nashville"></option>
      <option value="Portland"></option>
      <option value="Oklahoma City"></option>
      <option value="Las Vegas"></option>
      <option value="Baltimore"></option>
      <option value="Louisville"></option>
      <option value="Milwaukee"></option>
      <option value="Albuquerque"></option>
      <option value="Tucson"></option>
      <option value="Fresno"></option>
      <option value="Sacramento"></option>
      <option value="Mesa"></option>
      <option value="Kansas City"></option>
      <option value="Atlanta"></option>
      <option value="Long Beach"></option>
      <option value="Colorado Springs"></option>
      <option value="Raleigh"></option>
      <option value="Miami"></option>
      <option value="Virginia Beach"></option>
      <option value="Omaha"></option>
      <option value="Oakland"></option>
      <option value="Minneapolis"></option>
      <option value="Tulsa"></option>
      <option value="Arlington"></option>
      <option value="New Orleans"></option>
      <option value="Wichita"></option>
      <option value="Cleveland"></option>
      <option value="Tampa"></option>
      <option value="Bakersfield"></option>
      <option value="Aurora"></option>
      <option value="Anaheim"></option>
      <option value="Honolulu"></option>
      <option value="Santa Ana"></option>
      <option value="Corpus Christi"></option>
      <option value="Riverside"></option>
      <option value="St. Louis"></option>
      <option value="Lexington"></option>
      <option value="Stockton"><option</option>
    </datalist>
  </body>
</html>
